@import '../Variables/Variables.scss';

.customUL {
    column-count: 3;
}

.addProperty {
    display: flex;
    justify-content: space-between;
    p {
        display: inline-block;
        width: 35%;
    }
    .selectContainer {
        @include selectContainer(65%);
        select {
            @include selectStyle(100%);
            
        }
    }
    
    .propertyText {
        box-sizing: border-box;
        text-align: right;
        padding-right: 10px;
    }
}

.customButton {
    @include buttonStyle();     
}

.finallButtonsContainer {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 20px 0;
    flex-wrap: wrap;
}

.finallCode {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    max-width: 100%;
    min-width: 100%;
    height: 100px;
    color: $whiteColor;
    padding: 0.5rem;
    border: double 1px transparent;
    border-radius: 5px;
    background-image: linear-gradient($blackColor, $blackColor), 
                        linear-gradient(to right, $pinkColor, $blueColor);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    
    &:focus {
        outline:none;
    }
}

.generateButton {
    margin-left: 10px;
    @include buttonStyle();
}

.generateButtonContainer {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
}

.containerTitleCode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon {
        cursor: pointer;
        margin-bottom: 0;
    }
}

a {
    background: -webkit-linear-gradient(45deg, $pinkColor, $blueColor);
    background-clip: text;
    color: transparent;
    text-decoration: none;
}

@media (max-width: 992px) {
    .finallButtonsContainer {
        flex-direction: column;
    }
    .customUL {
        column-count: 2;
    }
}

@media (max-width: 576px) {
    .customUL {
        column-count: 1;
    }
}