@import '../Variables/Variables.scss';

.selectedProp__context {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;

    p {
        width: 25%;
        align-self: center;
        background-color: lightgray;
        background-image: linear-gradient(45deg, $pinkColor, $blueColor);
        border-radius: 5px;
    }

    input {
        color-scheme: dark;
        width: 75%;
        align-self: center;
        box-sizing: border-box;
        margin-left: 10px;
        background-color: $blackColor;
        border: 0;
        border-bottom: 1px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(45deg, $pinkColor, $blueColor);
        caret-color: $whiteColor;
        color: $whiteColor;
        &:focus {
            outline: none;
            border: 0;
            border-bottom: 1px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(45deg, $pinkColor, $blueColor);
        }
        &:invalid {
            outline: none;
            border: 0;
            border-bottom: 1px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(45deg, $invalidColor1, $invalidColor2);
            caret-color: $invalidColor1;
        }
    }

    .buttonNewTypeProp {
        margin-left: 10px;
        border: 5em;
        cursor: pointer;
        outline: none;
        background-color: $whiteColor;
        color: $whiteColor;
        border: 1px solid $blackColor;
        border-radius: 5px; 
    }

    .selectContainer {
        @include selectContainer(75%);
        margin-left: 10px;
        select {
            @include selectStyle(100%);
        }
    }

    .typeAdded {
        margin-left: 10px;
        background: -webkit-linear-gradient(45deg, $pinkColor, $blueColor);
        background-clip: text;
        color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            margin-left: 5px;
            offset: 50%;
            stop-color: $blueColor;
            cursor: pointer;
        }
    }
}