html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        link(rel="stylesheet" href="/css/main.css")
    body
        .wrapper
            h1
                | Upload RDF file.
            form.lightbox__form(action="/applications" method="POST")
                        .lightbox__form-control
                            label.lightbox__label What's your name?
                            input.lightbox__input(placeholder="John Doe" type="text" name="name")
                        .lightbox__form-control
                            label.lightbox__label What's your phone number?
                            input.lightbox__input(placeholder="+ 48 555 000 000" type="text" name="phone")
                        .lightbox__form-control
                            label.lightbox__label Leave a message
                            textarea.lightbox__input(placeholder="Please feel free to ask us anything" rows="3" name="message")
                        .lightbox__actions
                            button.btn.btn--primary Adopt a dog