<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SchemaGenerator</title>    
    <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <section class="wrapper">
        <h1>Wczytaj plik RDF.</h1>
        <form action="/applications" method="POST">
            <input type="file" id="fileRDF" name="fileRDF">
            <input type="submit" value="Wczytaj">
        </form>        
    </section>    
</body>
</html>