body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #20211E;
  scrollbar-color: #FF53A5 transparent;
  /* scrollbar-width: thin; */
}

body::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

body::-webkit-scrollbar-track {
  background: transparent
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, #00BFCC, #FF53A5);
}

::selection {
  color: white;
  background-color: #FF53A5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
